<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>404</title>
</head>
<body>
  <h1>Произошла ошибка, {{message}}</h1>
  <a href="/users">Вернуться на страницу пользователей</a>
</body>
</html>